@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color:black; 
    color: white;
    font-family: system-ui, Roboto, Arial;
}
.MainWrapper{
    @apply mx-auto  max-w-7xl md:px-16 px-8 relative z-10 
}

.cont{
    @apply px-10
}

.CFA{
    @apply bg-cYellow font-bold w-20
}

.steelP{
    font-weight: 500;
}
h2{
    /* font-family: system-ui, Roboto, Arial; */
    /* font-family: system-ui; 
    font-family: -apple-system; 
    font-family: BlinkMacSystemFont; 
    font-family:'Segoe UI';
    font-family: Roboto; 
    font-family: Oxygen; 
    font-family: Ubuntu;
    font-family: Cantarell;
    font-family: 'Open Sans';
    font-family:'Helvetica Neue';
    font-family:  sans-serif ;
    font-family: Arial;
    font-family: Helvetica;
    font-family: sans-serif; */
    font-weight: bold; 
    text-transform: capitalize;
    @apply text-4xl
}